{% extends 'composter_Base.html' %}
{% load static %}

{% block title %}Members{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">

<style>

    .table {
        width: 80%;
        max-height: 100%;
        background-color: white;
        overflow-y: auto;
    }

</style>


<div class="fluid-container">

    <div class="row">

        <div class="col-6 col-lg-2 col-sm-4 col-md-4 d-flex flex-column align-items-center text-center menu" id="left-page">

            <div class="logo"><img src="{% static 'images/composter_logo.svg' %}"></div>
            <div class="greeners-calndar"><a href="{% url 'composterHome' %}"><i class="bi bi-house"></i>Dashboard</a></div>
            <div class="greeners-request"><a href="{% url 'getGreenersOffer'%}"><i class="bi bi-archive-fill"></i>Greeners Requests</a></div>
            <div class="pending-members"><a href="{% url 'getPendingMembers' %}"><i class="bi bi-person-plus-fill"></i>Pending Members</a></div>
            <div class="mb-5 c-greeners-request"><a href="{% url 'getComposterMembers' %}"><i class="bi bi-people-fill"></i>My Members</a></div>
            <div class="mt-5"><a href="{% url 'logoff' %}"><i class="bi bi-door-open"></i>Logout</a></div>
        
        </div>

        
        <div class="col-6 col-lg-10 col-sm-8 col-md-8 d-flex flex-column align-items-center" id="right-page">
            <div class="container">
                <div class="col text-center">
                    <h1 class="my-4 display-5 fw-bold">Community Greeners</h1>
                </div>
                <ul class="list-group mt-5">
                    <li class="list-group-item list-group-item-dark text-center">
                        <div class="row">
                            <div class="col">First Name</div>
                            <div class="col">Last Name</div>
                            <div class="col">Email</div>
                            <div class="col">Phone</div>
                            <div class="col">Remove</div>
                        </div>
                    </li>
                    {% for member in membersArray %}
                    <li class="list-group-item">
                        <div class="row align-items-center text-center mt-2 mb-2">
                            <div class="col" style="font-size: 1.1rem">
                                {{ member.FirstName }}
                            </div>
                            <div class="col" style="font-size: 1.1rem">
                                {{ member.LastName }}
                            </div>
                            <div class="col" style="font-size: 1.1rem">
                                {{ member.Email }}
                            </div>
                            <div class="col" style="font-size: 1.1rem">
                                {{ member.PhoneNumber }}
                            </div>
                            <div class="col" style="font-size: 1.1rem">
                                <a href="{% url 'removeComposterMember' member.id %}" class="btn btn-danger">
                                    <i class="bi bi-x"></i>
                                </a>
                            </div>
                            
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %}