{% extends 'composter_Base.html' %}
{% load static %}

{% block title %}Pending Members{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap" rel="stylesheet">

<style>
    
    .table {
        width: 80%;
        max-height: 100%;
        background-color: white;
        overflow-y: auto;
    }

</style>


<div class="fluid-container">

    <div class="row">

        <div class="col-6 col-lg-2 col-sm-4 col-md-4 d-flex flex-column align-items-center text-center menu" id="left-page">

            <div class="logo"><img src="{% static 'images/composter_logo.svg' %}"></div>
            <div class="greeners-calndar"><a href="{% url 'composterHome' %}"><i class="bi bi-house"></i>Dashboard</a></div>
            <div class="greeners-request"><a href="{% url 'getGreenersOffer'%}"><i class="bi bi-archive-fill"></i>Greeners Requests</a></div>
            <div class="pending-members"><a href="{% url 'getPendingMembers' %}"><i class="bi bi-person-plus-fill"></i>Pending Members</a></div>
            <div class="mb-5 c-greeners-request"><a href="{% url 'getComposterMembers' %}"><i class="bi bi-people-fill"></i>My Members</a></div>
            <div class="mt-5"><a href="{% url 'logoff' %}"><i class="bi bi-door-open"></i>Logout</a></div>

        </div>

        <div class="col-6 col-lg-10 col-sm-8 col-md-8 d-flex flex-column align-items-center " id="right-page">
            {% if greenersArray|length == 0 %}
            <p>No data available.</p>
            {% else %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Greener id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Phone number</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for greener in greenersArray %}
                    <tr>
                        <td>{{ greener.id }}</td>
                        <td>{{ greener.FirstName }} </td>
                        <td>{{ greener.LastName}}</td>
                        <td>{{ greener.PhoneNumber }}</td>
                        <td>
                            <button type="button" class="btn btn-primary"
                                onclick="acceptGreener({{ greener.id }})">Accept</button>
                            <button type="button" class="btn btn-danger"
                                onclick="rejectGreener({{ greener.id }})">Cancel</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

    </div>

</div>


<script>
    
    function acceptGreener(greenerId) {
        fetch('/Composter/accept_greener/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'greenerId': greenerId }),
        }).then(response => {
            if (response.ok) {
                window.location.reload(); // refresh the page after successful update
            }
        });
    }


    function rejectGreener(greenerId) {
        fetch('/Composter/reject_greener/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'greenerId': greenerId }),
        }).then(response => {
            if (response.ok) {
                window.location.reload(); // refresh the page after successful update
            }
        });
    }
</script>

{% endblock %}