{% extends 'greener_Base.html' %}
{% load static %}

{% block title %}Submit Offer{% endblock %}

{% block content %}

<style>
  .card-text {
    font-family: "Open Sans";
    font-size: 0.8em;
  }

  .quantities:disabled {
    background-color: #fff;
    opacity: 1;
  }

  .fixed-size-img {
    width: 200px;
    height: 200px;
  }

  .image {
    padding: 10px;
    height: 160px;
  }
</style>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>

<div class="fluid-container">
  <div class="row">
    <div class="col-6 col-lg-2 col-sm-4 col-md-4 d-flex flex-column align-items-center text-center menu" id="left-page">
      <div class="logo">
        <img src="{% static 'images/composter_logo.svg' %}" />
      </div>
      <div class="c-greeners-dashboard">
        <a href="{% url 'greenerHome' %}"><i class="bi bi-house"></i></i>Dashboard</a>
      </div>
      <div class="c-greeners-notifications">
        <a href="{% url 'greenerNotification' %}">
          <i class="bi bi-bell"></i>Notifications<span class="badge bg-danger">{{notif}}</span>
        </a>
      </div>
      <div class="c-greeners-submit">
        <a href="{% url 'compostOffer' %}"><i class="bi bi-arrow-right-square"></i>Submit Compost</a>
      </div>
      <div class="c-greeners-request">
        <a href="{% url 'sentRequests' %}"><i class="bi bi-book"></i>View History</a>
      </div>
      <div class="mt-5">
        <a href="{% url 'logoff' %}"><i class="bi bi-door-open"></i>Logout</a>
      </div>
    </div>

    <!--show compost items-->
    <div class="col-6 col-lg-10 col-sm-8 col-md-8 d-flex flex-column align-items-center" id="right-page">
      <div class="row d-flex justify-content-center align-items-center text-center">
        <h1 class="my-4 heading-size">Submit your Quantity(ies)</h1>
      </div>
      <form name="qf" id="quantity-form" method="POST" action="{% url 'compostOffer' %}">
        {% csrf_token %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-xl-6" id="composts-container">
          {% for compost in composts %}
          <div class="col mb-4">
            <div class="card h-100">
              <img src="{{ compost.CompostImage.url }}" class="card-img-top w-75 mx-auto d-block image" alt="..."/>
              <div class="card-body">
                <p class="card-text text-center">{{ compost.CompostName }}</p>

                <div class="form-floating mb-3 quantity">
                  <input
                    type="text"
                    class="form-control {{ compost.CompostType }}"
                    id="{{ compost.CompostName }}"
                    value="0"
                    onfocus="if(this.value=='0') this.value='';"
                  />
                  <label for="{{ compost.CompostName }}">Weight(Kg)</label>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row justify-content-center align-items-center" style="display: none" id="categorize-composts">
          <!--show materials & weight + set date-->
          <div class="col-6 col-sm-12">
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">Manure</span>
              {{ form.manure }}
              <span class="input-group-text">Kg</span>
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">Brown Material</span>
              {{ form.brown_material }}
              <span class="input-group-text">Kg</span>
            </div>
            <div class="input-group input-group-lg mb-3">
              <span class="input-group-text">Green Material</span>
              {{ form.green_material }}
              <span class="input-group-text">Kg</span>
            </div>

            <div class="input-group">
              {{ form.date_range }}
              <span class="input-group-text"><i class="bi bi-calendar"></i></span>
            </div>

            <div class="col d-flex justify-content-center align-items-center mt-5">
              <button type="submit" class="btn btn btn-success btn-lg">Submit</button>
            </div>
          </div>
        </div>

        <div class="col d-flex justify-content-center align-items-center mt-4">
          <button type="button" class="btn btn-primary btn-lg" id="toggleBtn">Next</button>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
  const toggleBtn = document.getElementById("toggleBtn");
  const CompostsContainer = document.getElementById("composts-container");
  const CategorizeComposts = document.getElementById("categorize-composts");

  let AnimalManureElements = document.querySelectorAll(".AnimalManure");
  let BiodegradableFertilizersElements = document.querySelectorAll(".BiodegradableFertilizers");
  let PlantFertilizersElements = document.querySelectorAll(".PlantFertilizers");

  AnimalmanureField = document.getElementById("id_manure");
  BiodegradableFertilizersField = document.getElementById("id_green_material");
  PlantFertilizersField = document.getElementById("id_brown_material");


  let isNext = true;

  
  toggleBtn.addEventListener("click", function () {
    if (isNext) {
      
      CompostsContainer.style.display = 'none';
      CategorizeComposts.style.display = 'flex';
      toggleBtn.textContent = 'Back';

      let AnimalManureQuantities = 0;
      let BiodegradableFertilizersQuantities = 0;
      let PlantFertilizersQuantities = 0;

      //calculate manure weight
      for (let i = 0; i < AnimalManureElements.length; i++) {
        let value = parseFloat(AnimalManureElements[i].value);
        if (!isNaN(value)) {
          AnimalManureQuantities += value;
        }
      }
      AnimalmanureField.value = parseFloat(AnimalManureQuantities);

      //calculate green material weight
      for (let i = 0; i < BiodegradableFertilizersElements.length; i++) {
        let value = parseFloat(BiodegradableFertilizersElements[i].value);
        if (!isNaN(value)) {
          BiodegradableFertilizersQuantities += value;
        }
      }
      BiodegradableFertilizersField.value = parseFloat(
        BiodegradableFertilizersQuantities
      );

      //calculate brown material weight
      for (let i = 0; i < PlantFertilizersElements.length; i++) {
        let value = parseFloat(PlantFertilizersElements[i].value);
        if (!isNaN(value)) {
          PlantFertilizersQuantities += value;
        }
      }
      PlantFertilizersField.value = parseFloat(PlantFertilizersQuantities);
    }

  else {
    CompostsContainer.style.display = 'flex';
    CategorizeComposts.style.display = 'none';
    toggleBtn.textContent = 'Next';
  }

  isNext = !isNext;

  });


  flatpickr("#id_date_range", {
    mode: "range",
    dateFormat: "Y-m-d",
    minDate: "today",
    maxDate: "31-12-2025",
    icon: '<i class="bi bi-calendar"></i>',
  });
</script>

{% endblock %}'
