{% extends 'greener_Base.html' %}
{% load static %}

{% block title %}Home{%endblock %}

{% block content %}
<script src="https://kit.fontawesome.com/5135d630a7.js" crossorigin="anonymous"></script>

<style>
  .coin-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .coin-logo img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: white;
  }

  .score {
    font-size: 40px;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 21px 21px;
  }

  .score span {
    color: #45652f;
  }

  .list-group {
    margin-top: 25px;
  }

  .list-group-item {
    height: 60px;
    width: 100%;
    font-size: larger;
    line-height: 200%;
  }
  
  .nav-item {
    list-style: none;
  }
</style>

<div class="fluid-container">
  <div class="row">

    <div class="col-6 col-lg-2 col-sm-4 col-md-4 d-flex flex-column align-items-center text-center menu" id="left-page">

      <div class="logo">
        <img src="{% static 'images/composter_logo.svg' %}"/>
      </div>

      <div>
        <a href="{% url 'greenerHome' %}"><i class="bi bi-house"></i>Dashboard</a>
      </div>

      <div>
        <a href="{% url 'greenerNotification' %}">
          <i class="bi bi-bell"></i>Notifications<span class="badge bg-danger">{{notif}}</span>
        </a>
      </div>

      <div>
        <a href="{% url 'compostOffer' %}"><i class="bi bi-arrow-right-square"></i>Submit Compost</a>
      </div>

      <div>
        <a href="{% url 'sentRequests' %}"><i class="bi bi-book"></i>View History</a>
      </div>

      <div class="mt-5">
        <a href="{% url 'logoff' %}"><i class="bi bi-door-open"></i>Logout</a>
      </div>
      
    </div>
    

    <div class="col-6 col-lg-10 col-sm-8 col-md-8 d-flex flex-column align-items-center" id="right-page">
      <!-- https://icon-library.com/icon/compost-icon-19.html.html>Compost Icon # 140196 -->
      <div class="coin-logo">
        <img src="{% static 'images/coin-logo.png' %}" alt="Logo" />
      </div>

      <div>
        <h1 class="score">Your Score is : <span>{{user.wallet}}</span></h1>
      </div>

      <ul class="list-group">
        {% for transaction in transactions %}
        <li class="list-group-item">
          <strong>Recieved:</strong> {{ transaction.amount }} Compo Coins
          <strong>From:</strong> {{transaction.sender}} 
          <strong>On:</strong> {{transaction.timestamp }}
        </li>
        {% endfor %}
      </ul>
          

    </div>
  </div>
</div>

{% endblock %}
