
{% extends 'greener_Base.html' %}

{% load static %}


{% block title %}Home{% endblock %}


{% block content %}

<style>
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b1a17f;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.navbar h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  font-size: 35px;
}

ul {
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
  flex-grow: 1;
}

.navbar li {
  padding: 25px 0 0 0;
}

a {
  color: #fff;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

a:hover {
  color: #b1a17f;
}

.container {
  width: 80%;
  margin-left: 25%;
}

.submit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #10550e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }

  .submit-button:hover {
    background-color: #358132;
    cursor: pointer;
  }
  
  .submit-button i {
    margin-left: 10px;
  }

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
  }
  
  .logo img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin-top: 150px;
    margin-bottom: 25px;
    background-color: white;
  }
  
  .logo .score {
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(63, 76, 11);
    padding: 21px 21px;
  }

  .logo .score span {
    color: white;
  }

  .history {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 150px 200px;
    background-color: #eee0c6;
    border: none;
    border-radius: 5px;
  }

  .history ul li {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px 0 8px 25px;
  }
</style>


<div class="navbar">
  <h1>Welcome {{user.FirstName}}</h1>
  <ul>
    <li><a href="{% url 'sentRequests' %}">View History</a></li>
    <li><a href="{% url 'logoff' %}">Logout</a></li>
  </ul>
</div>

<div class="container">

  <a href="{% url 'compostOffer' %}">
      <button class="submit-button">Submit Compost<i class="bi bi-arrow-right-square"></i></button>
    </a>          

  <div class="logo">
      <img src="{% static 'logo.png' %}" alt="Logo">
      <h1 class="score">Your Score is : <span>{{user.wallet}}</span></h1>
  </div>
  
  <div class="history">
    <ul>
        {% for data in offer_data %}
            <li>
                Sent: <strong>{{ data.sum }}</strong> Kg
                To: <strong>{{ data.offer.sender.composter }}</strong>
                On: <strong>{{ data.offer.date_range_start }}</strong>
            </li>
        {% endfor %}
    </ul>
</div>

</div>

{% endblock %}